﻿@model IEnumerable<dropdownlist_demo.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
}


<script>
    $(document).ready(
 function(Id){

        $("#Pro").change(function(){
          

            $.get("/Products/GetItem", { Id: $('#Pro').val() } , function (data) {

                $("#Model").val(data[0].ModelNo);
                $("#CO").val(data[0].CO);
            });
       

            });

        });
    //Hassanuzzaman Khan
    
   
</script>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryofOrigin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryofOrigin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


<table>
    <tr>
        <td>Product</td><td>@Html.DropDownList("Product", ViewBag.Product as SelectList, new { id = "Pro", @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Model</td>
        <td>@Html.TextBox("Model")</td>
    </tr>
    <tr>
        <td>Country of Origin</td>
        <td>@Html.TextBox("CO")</td>
    </tr>
   
</table>


